.mainImage{
    width: 900px;
    height: inherit;
    }
.my_counter{
    font-size: 200px;
    position:relative;
    top:-500px;
    color: gold;
}

.life_lines{
    position:absolute;
    top:-390px;
    left:930px;
    width:20px;
    height:50px;
}
.life_lines2{
    position:absolute;
    top:-390px;
    left:768px;
    width:20px;
    height:50px;
}

.sideBar{
    width: 200px;
    height:400px;
    }
.container{
    background-image: url("../assets/img/game_default.jpg");
    background-repeat: no-repeat;
    background-size: 1000px;
    height: 900px;
}
.main_container{
    background-color: black;
    height: 50%;
}
.yellow{
    background-Color: transparent;
    position:absolute;
    margin-left: 760px;
    top:145px;
    width: 200px;
    height: 25px;
    opacity: 0.2;
}
.yellowb{
    background-Color: transparent;
    position:absolute;
    margin-left: 760px;
    top:111px;
    width: 200px;
    height: 25px;
    opacity: 0.2;
}
.yellowc{
    background-Color: transparent;
    position:absolute;
    margin-left: 760px;
    top:77px;
    width: 200px;
    height: 25px;
    opacity: 0.2;
}
.yellowd{
    background-Color: transparent;
    position:absolute;
    margin-left: 760px;
    top:43px;
    width: 200px;
    height: 25px;
    opacity: 0.2;
}
.yellowe{
    background-Color: transparent;
    position:absolute;
    margin-left: 760px;
    top:9px;
    width: 200px;
    height: 25px;
    opacity: 0.2;
}

.money_bar{
background-image: url("../assets/img/money_bar.jpg");
background-repeat: no-repeat;
background-size: 500px;
position:relative;
height: 1000px;
left:-220px;
top:50px;
        }

.question_menu
{
background-image: url("../assets/img/questions_menu.jpg");
background-repeat: no-repeat;
position: relative;
background-size: 770px;
height: 500px;
width: 1000px;
top: -615px;
}
.question
{
color:antiquewhite;
position: relative;
left: 70px;
top:25px;
font-size: small;
}
.choice1
{
color:antiquewhite;
position: relative;
left: 130px;
top:65px;
}
.choice2
{
color:antiquewhite;
position: relative;
left: 470px;
top:15px;
}
.choice3
{
color:antiquewhite;
position: relative;
left: 130px;
top:15px;
}
.choice4
{
color:antiquewhite;
position: relative;
left: 470px;
top:-5px;
}
.option1
{
color:antiquewhite;
position: absolute;
left: 80px;
top:80px;
}
.option2
{
    color:antiquewhite;
position: absolute;
left: 420px;
top:80px;
}
.option3
{
    color:antiquewhite;
position: absolute;
left: 80px;
top:125px;
}
.option4
{
    color:antiquewhite;
    position: absolute;
    left: 420px;
    top:125px;
}
.col{
margin-left: 650px;
margin-top: 300px;
font-size: 20px;
color:blue;
font-weight: bold;
        }
.navbar{
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    }
.resize 
    {
    width: 400px;
    margin-left: 300px;
    height: auto;
    background-color: blue ;
    }
.imageOverlay 
    {
    width: 44%;
    margin-left: 10px;
    margin-top: 10px;
    }
.imageOverlay2 
    {
    width: 44%;
    margin-left: 10px;
    margin-top: 50px;
    }
.headerFont 
    {
    font-family: 'Courier New', Courier, monospace;
    }
.welcome_text 
    {
    margin-top: 50%;
    }
.mybutton
    {
    margin-left: 635px;
    margin-top: 100px;
    background-color: blue;
    }
.bankCheck{
    position: relative;
    top: -515px;
    color:chartreuse;
    font-size: large;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }